/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 @font-face {
    font-family: 'DS-Digital';
    src: url('/font/DS-DIGI.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: 100%;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#000000;
    background-image:linear-gradient(top, #000000 0%, #001761 51%);
    background-image:-webkit-linear-gradient(top, #000000 0%, #001761 51%);
    background-image:-ms-linear-gradient(top, #000000 0%, #001761 51%);
    background-image:-webkit-gradient(
	linear, left top, left bottom,
	color-stop(0, #000000),
	color-stop(0.51, #001761) );
    background-attachment:fixed;
    font-family:DS-Digital;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
    color: red;
	font-size:1em;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
}
#clock {
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;	
	margin: auto;
	font-size:15em;
	text-align:center;
	vertical-align:middle;
	font-family:DS-Digital;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}
#blinkin {
	font-family:DS-Digital;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    #clock {
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;	
	margin: auto;

    }
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}